.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: #0A2D4D;
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 80%;
  padding: 75px;
}

.closepopup {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 39px;
  height: 39px;
  color: #FFFFFF;
  background-color: #0A2D4D;
  border-width: 0px;
  border-radius: 5px;
}

.closeicon {
  height: 17px;
  width: 17px;
}

.formheader {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.formcontainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 45px;
  width: 100%;
}

.formcontent1 {
  margin-right: 60px;
  flex-basis: 66%;
}

.formcontent2 {
  flex-basis: 34%;
}

.formfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formfooterbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.continuebutton {
  width: 240px;
  height: 40px;
  margin: 12px;
  color: #FFFFFF;
  background-color: #0A2D4D;
  border-width: 0px;
  border-radius: 5px;
  font-weight: bold;
}

.cancelbutton {
  width: 240px;
  height: 40px;
  margin: 12px;
  color: #FA9D26;
  background-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-color: #FA9D26;
  border-radius: 5px;
  font-weight: bold;
}

.headerhr {
  width: 25%;
  align-self: center;
  color: #BDBDBD;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hr {
  width: 50%;
  color: #BDBDBD;
  margin-top: 15px;
  margin-bottom: 15px;
}

.confirmed {
  color: #2DA96D;
  font-weight: bold;
}

.tolerancetoggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tolerancetoggle span {
  align-items: center;
  margin-left: 5px;
}

.divider {
  margin-left: 15px !important;
  margin-right: 15px;
}

/* Mobile */
@media (max-width: 700px) {
  .formcontainer {
    flex-direction: column;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .formcontainer {
    flex-direction: column;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
