.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.label {
	display: flex;
	font-size: 12px;
	flex-basis: 45%;
	margin-right: 10px;
}

.select {
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: #BDBDBD;
	color: #0A2D4D;
	background-color: transparent;
}

.partialwidth {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-basis: 45%;
}

.fullwidth {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
}

/* Mobile */
@media (max-width: 700px) {
	.main {
		width: 100%;
		flex-direction: column;
	}

  .label {
  	font-size: 16px;
  }

  .partialwidth {
  	margin-top: 12px;
  	width: 100%;
  }

  .partialwidth select {
  	flex-basis: 90%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
		width: 100%;
	}

  .label {
  	font-size: 16px;
  }
}
