.main {
	display: flex;
	flex-direction: row;
}

.label {
	display: flex;
	width: 45%;
}

.labeled {
	display: flex;
	padding: 10px;
	width: 45%;
	margin-top: 5px;
	margin-bottom: 5px;
	boder-radius: 5px;
	border: 1px lightgray;
}

.titled {
	display: flex;
	padding: 10px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 1px lightgray;
}

.icon {
	width: 10%;
	margin: 5px;
	transform: rotate(150deg);
}
