.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.radio {
	margin-right: 10px;
	height: 25px;
	width: 25px;
}

.main input::checked {
	background-color: #0A2D4D;
}

.label {
	margin-right: 15px;
	font-size: 14px;
}
